name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    if: github.ref == 'refs/heads/main'

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: rsync deployments
        uses: burnett01/rsync-deployments@5.2.2
        with:
          switches: -avzr --delete
          path: ./*
          remote_path: /var/www/backend/
          remote_host: ec2-18-229-35-50.sa-east-1.compute.amazonaws.com
          remote_user: ubuntu
          remote_key: '${{ secrets.SSH_PRIVATE_KEY }}'
      - run: npm i --s
      - run: npm i -g pm2
      - run: npm run build
      - run: npm run start:prod
      - run: pm2 start --only production pm2.config.js --name production --watch
